
.score-page {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}


.score-page h1 {
    font-size: 5rem;
    color: black;
    animation: pulseAnimation 2s linear infinite;  
}


  @keyframes pulseAnimation {
    0% {
      color: black; 
    }
    50% {
      color: green; 
    }
    100% {
      color: black; 
    }
  }
