
.page-container {
    background: linear-gradient(#98b6e2, #ffffff)
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .background-option {
    display: inline-block; 
    cursor: pointer;
    border: 2px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .background-option.selected {
    border-color: #007bff;
  }
  
  .background-option img {
    width: 200px;
    height: 150px;
  }
  .title-block{
    font-size: large;
    align-items: center;
   
  }
  .title-input {
    margin: 10px;
    font-size: 18px;
    height: 40px; 

  }
  
  .button-container {
    margin-top: 20px;
   
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  